/* Variables */
:root {
  --black: 
rgba(0, 0, 0, 1);
  --star-dust: 
rgba(155, 155, 155, 1);
  --periwinkle: 
rgba(207, 217, 255, 1);
  --rose-white: 
rgba(255, 246, 246, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-xxs: 27px;
  --font-size-xs: 28px;
  --font-size-s: 29px;
  --font-size-m: 32px;
  --font-size-l: 33px;

  --font-family-inter: "Inter";
}

/* Classes */

.inter-semi-bold-rose-white-32px {
  color: var(--rose-white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}
.inter-semi-bold-black-28px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-style: normal;
}
.inter-normal-star-dust-29px {
  color: var(--star-dust);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}


@import url("https://fonts.googleapis.com/css?family=Inter:400,600");
.invoice {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 864px;
  overflow: hidden;
  width: 1536px;
}
.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}
.checkout-button {
  align-items: flex-start;
  display: flex;
  margin-right: 99px;
  margin-top: 26px;
  min-width: 188px;
}
.overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--periwinkle);
  border-radius: 40px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 186px;
  padding: 7.2px 7px;
}
.thank-you {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  width: 158px;
}
.top-bar {
  align-items: flex-start;
  display: flex;
  margin-right: -7px;
  min-width: 1543px;
}
.overlap-group3 {
  align-items: center;
  background-color: #ffaaaa;
  display: flex;
  height: 118px;
  justify-content: flex-end;
  min-width: 1537px;
  padding: 0 38px;
}
.about {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1px;
  margin-left: 33px;
  min-height: 31px;
  text-decoration: underline;
  width: 125px;
}
.overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 40px;
  margin-left: 26px;
  min-width: 191px;
  padding: 6px 14px;
}
.password {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  width: 154px;
}
.overlap-group {
  align-items: flex-start;
  background-color: var(--periwinkle);
  border-radius: 40px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 135px;
  padding: 5px 17px;
}
.login {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 90px;
}
.place-1 {
  margin-bottom: 1px;
  margin-left: 33px;
  width: 191px;
}
.invoice .place-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  text-decoration: underline;
}
.place {
  margin-top: 1px;
  width: 105px;
}
.overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 40px;
  margin-left: 396px;
  min-width: 191px;
  padding: 6px 12px;
}
.email {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  width: 120px;
}
.product-info {
  align-items: flex-start;
  align-self: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  margin-right: 15px;
  margin-top: 73px;
  min-width: 1211px;
}
.product-info-1 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  height: 100px;
  margin-left: -1px;
  margin-top: -1px;
  width: 1074px;
}
.title {
  align-self: flex-start;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 83px;
  margin-top: 72px;
  min-height: 39px;
  text-decoration: underline;
  width: 226px;
}
.bottom-bar {
  align-items: flex-start;
  display: flex;
  margin-right: -3px;
  margin-top: 64px;
  min-width: 1539px;
}
.overlap-group-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  min-width: 1537px;
  padding: 9px 13px;
}
.nerd-labs {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  width: 187px;
}
.final-amount {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 272px;
  margin-top: 225px;
  min-height: 37px;
  width: 237px;
}
