/* Variables */
:root {
  --black: rgba(0, 0, 0, 1);
  --star-dust: rgba(155, 155, 155, 1);
  --periwinkle: rgba(207, 217, 255, 1);
  --cornflower-lilac: rgba(255, 170, 170, 1);
  --rose-white: rgba(255, 246, 246, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xxs: 27px;
  --font-size-xs: 28px;
  --font-size-s: 29px;
  --font-size-m: 32px;
  --font-size-l: 33px;

  --font-family-inter: "Inter";
}

/* Classes */

.inter-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.inter-semi-bold-rose-white-32px {
  color: var(--rose-white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}
.inter-semi-bold-black-28px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-style: normal;
}
.inter-normal-star-dust-29px {
  color: var(--star-dust);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}

/* Path: Website\CustomerPage\index.html */
@import url("https://fonts.googleapis.com/css?family=Inter:400,600");
.customerpage {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 864px;
  overflow: hidden;
  width: 1536px;
}
.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}
.bottom-bar {
  align-items: flex-start;
  display: flex;
  margin-left: 3px;
  margin-top: 62px;
  min-width: 1539px;
}
.overlap-group-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 60px;
  justify-content: flex-end;
  min-width: 1537px;
  padding: 9px 13px;
}
.nerd-labs {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  width: 187px;
}
.top-bar {
  align-items: flex-start;
  display: flex;
  margin-left: 7px;
  min-width: 1543px;
}
.overlap-group3 {
  align-items: center;
  background-color: #ffaaaa;
  display: flex;
  height: 118px;
  justify-content: flex-end;
  min-width: 1537px;
  padding: 0 38px;
}
.customerpage .place-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  text-decoration: underline;
}
.place {
  margin-top: 1px;
  width: 105px;
}
.about {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1px;
  margin-left: 33px;
  min-height: 31px;
  text-decoration: underline;
  width: 125px;
}
.overlap-group {
  align-items: flex-start;
  background-color: #cfd9ff;
  border-radius: 40px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 135px;
  padding: 5px 17px;
}
.login {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 90px;
}
.overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 40px;
  margin-left: 396px;
  min-width: 191px;
  padding: 6px 12px;
}
.email {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  width: 120px;
}
.overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 40px;
  margin-left: 26px;
  min-width: 191px;
  padding: 6px 14px;
}
.password {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  width: 154px;
}
.place-1 {
  margin-bottom: 1px;
  margin-left: 33px;
  width: 191px;
}
.flex-row {
  align-items: flex-start;
  display: flex;
  gap: 163px;
  height: 537px;
  margin-left: 14px;
  margin-top: 87px;
  min-width: 1364px;
}
.history {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 204px;
  width: 689px;
}
.rectangle {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  height: 68px;
  width: 689px;
}
.profile-image {
  height: 512px;
  object-fit: cover;
  width: 512px;
}
