{% extends "base.html" %}
{% block content %}


<h1 class="text-center mt-5">Welcome to your Cart!</h1>

<hr class="mt-5" />

<table class="table" style="margin-left: 20px;">
        <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>

    
    <tbody>
        {% for item in context %}
        <tr>
            <td>{{ item.prod_id }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ ((item.price) *(item.quantity)) }}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="prod_id" value="{{ item.prod_id }}" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action = "/invoice">
    <div class="text-center">
        <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;">Checkout!</button>
    </div>
</form>

{% endblock %}
