{% extends "base.html" %}
{% block content %}

{% set total = 0 %}

<h1 class="text-center mt-5">Welcome to your Cart!</h1>

<hr class="mt-5" />

<table class="table" style="margin-left: 20px;">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>

    <!-- [{'cust_id': 1, 'prod_id': 11, 'quantity': 5, 'price': 1428}, {'cust_id': 1, 'prod_id': 12, 'quantity': 5, 'price': 1601}, {'cust_id': 1, 'prod_id': 13, 'quantity': 5, 'price': 47}, {'cust_id': 1, 'prod_id': 14, 'quantity': 5, 'price': 9145}, {'cust_id': 1, 'prod_id': 15, 'quantity': 5, 'price': 180}, {'cust_id': 1, 'prod_id': 16, 'quantity': 4, 'price': 4882}, {'cust_id': 1, 'prod_id': 17, 'quantity': 6, 'price': 8963}, {'cust_id': 1, 'prod_id': 24, 'quantity': 5, 'price': 1342}, {'cust_id': 1, 'prod_id': 499, 'quantity': 2, 'price': 8886}] -->

    <tbody>
        {% for item in context %}
        <tr>
            <td>{{ item.prod_id }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ (item.price) *(item.quantity) }}</td>
            {% set total = total + ((item.price) * (item.quantity)) %}
        </tr>
        {% endfor %}
    </tbody>
        
</table>

<!-- calculate total -->
<h5 class="text-center mt-5">Total: {{ total }}</h5>

<!-- create a buy now button -->
<form>
    <div class="text-center">
        <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;">Checkout!</button>
    </div>
</form>

{% endblock %}
