<html>
  <head>
    <title>Customer Info</title>
  </head>
  <body>
    <h1>Customer Information</h1>
    <table>
      <thead>
        <tr>
          {% for attr in context.attributes %}
              <th>{{ attr }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
            {% for customer in context.customers %}
            <tr>
                {% for c in customer %}
                <td>{{ c }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tr>
      </tbody>
    </table>
  </body>
</html>
