
{% extends "base.html" %}
{% set total = 0 %}
{% block content %}

  <div class="container py-5">
    <h1>Invoice</h1>
    <div class="row">
      <div class="col-md-6">
      </div>
      <form method="GET">
        <div>
          <h5>Invoice ID: {{context3[0][0]}}</h5>
          <h5>Purchase Date: {{context3[0][1]}}</h5>
        </div>
      </div>
      <hr>
        <div class="row mt-4">
          <div class="col-md-6">
            <h5>Bill To:</h5>
            <p>{{ context2['first_name'] }} {{ context2['last_name'] }}</p>
          </div>
          <div class="col-md-6 text-end">
            <h5>Ship To:</h5>
            <p>{{ context2['addr_loc'] }}</p>
            <p>{{ context2['addr_city'] }} {{ context2['addr_pin'] }}</p>
          </div>
        </div>


    <hr>

        <div class="row mt-4">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Product ID</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                
                {% for item in context1 %}
                    <tr>
                      <td>{{ item.prod_id }}</td>
                      <td>{{ item.price }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>{{ (item.price) *(item.quantity) }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
    </form>
    <div class="row mt-4">
      <div class="col-md-12 text-end">
        <h5>Subtotal: {{ total }}</h5>
        <h5>Tax: {{ tax }}</h5>
        <h2>Total: {{ total }}</h2>
      </div>
    </div>
    <hr>
    <div class="row mt-4">
      <div class="col-md-12 text-end">
        <h5>Thank you for your business!</h5>
      </div>
    </div>
  </div>

{% endblock %}
