{% extends "base.html" %}
{% block content %}
    <h3>Product Search Results for {{ context.brand }}</h3>
    <table class="table">
        <thead>
            <tr>
            {% for attr in context.attributes %}
                <th>{{ attr }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for product in context.products %}
            <tr>
                {% for p in product %}
                <td>{{ p }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}