{% extends "base.html" %}
{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
        <h1>Search for Data</h1>
        <form method="post" action="/" class="w-50">
            <div class="input-group mt-3">
                <input type="text" name="data" class="form-control" placeholder="Search for data..." required>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    {% if context %}
        {% if context.message %}
            <p>{{ context.message }}</p>
        {% else %}
        <h3>Data for {{ context.title }}</h3>
        <table class="table">
            <thead>
                <tr>
                    {% for attr in context.attributes %}
                    <th>{{ attr }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for rec in context.records %}
                <tr>
                    {% for val in rec%}
                    <td>{{ val }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endif %}
{% endblock %}
