{% extends "base.html" %}
{% block content %}
<span class="align-middle">
  <p class="text-center fs-2 fw-bold">Welcome to NerdLabs!</p>
</span>

<!-- Row 1 -->
<div class="row">
  <div class="col-md-4">
    <div class="card mb-2 mb-md-0 shadow-sm" style="transform: scale(0.83)">
      <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product Title 1</h5>
        <p class="card-text">Product company goes here.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          </div>
          <small class="text-muted">$24.99</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-2 mb-md-0 shadow-sm" style="transform: scale(0.83)">
      <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product Title 2</h5>
        <p class="card-text">Product company goes here.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          </div>
          <small class="text-muted">$34.99</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-2 mb-md-0 shadow-sm" style="transform: scale(0.83)">
      <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product Title 3</h5>
        <p class="card-text">company goes here.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          </div>
          <small class="text-muted">$44.99</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Row 2 -->
<div class="row">
  <div class="col-md-4">
    <div class="card mb-2 mb-md-0 shadow-sm" style="transform: scale(0.83)">
      <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product Title 1</h5>
        <p class="card-text">company goes here.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          </div>
          <small class="text-muted">$24.99</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-2 mb-md-0 shadow-sm" style="transform: scale(0.83)">
      <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product Title 2</h5>
        <p class="card-text">company goes here.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          </div>
          <small class="text-muted">$34.99</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-2 mb-md-0 shadow-sm" style="transform: scale(0.83)">
      <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Product Title 3</h5>
        <p class="card-text">company goes here.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
          </div>
          <small class="text-muted">$44.99</small>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
