{% extends "base.html" %}
{% block content %}
<div style = "margin-top: 20px;">
<span class="align-middle">
  <p class="text-center fs-2 fw-bold">Welcome to NerdLabs!</p>
  <p class="text-center fs-4">This is a website for all your nerdy needs!</p>
</span>
<div class = "cards" style="margin-top: 100px; width: 70%; text-align: center; margin-left: 240px;">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NAX6NVH8F7</h5>
          <p class="card-text"><b>Model</b>: NAX6NVH8F7</p>
          <p class="card-text"><b>Brand</b>: Dell</p>
          <p class="card-text"><b>MRP</b>: <i>3878</i></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NAX6NVH8F7</h5>
          <p class="card-text"><b>Model</b>: NAX6NVH8F7</p>
          <p class="card-text"><b>Brand</b>: Dell</p>
          <p class="card-text"><b>MRP</b>: <i>3878</i></p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NAX6NVH8F7</h5>
          <p class="card-text"><b>Model</b>: NAX6NVH8F7</p>
          <p class="card-text"><b>Brand</b>: Dell</p>
          <p class="card-text"><b>MRP</b>: <i>3878</i></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NAX6NVH8F7</h5>
          <p class="card-text"><b>Model</b>: NAX6NVH8F7</p>
          <p class="card-text"><b>Brand</b>: Dell</p>
          <p class="card-text"><b>MRP</b>: <i>3878</i></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NAX6NVH8F7</h5>
          <p class="card-text"><b>Model</b>: NAX6NVH8F7</p>
          <p class="card-text"><b>Brand</b>: Dell</p>
          <p class="card-text"><b>MRP</b>: <i>3878</i></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NAX6NVH8F7</h5>
          <p class="card-text"><b>Model</b>: NAX6NVH8F7</p>
          <p class="card-text"><b>Brand</b>: Dell</p>
          <p class="card-text"><b>MRP</b>: <i>3878</i></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}