<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cabinet Details</title>
</head>
<body>
    <h1>Cabinet Details</h1>

    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Colour</th>
                <th>Form Factor</th>
                <th>Material</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cabinet.prod_id }}</td>
                <td>{{ cabinet.colour }}</td>
                <td>{{ cabinet.form_factor }}</td>
                <td>{{ cabinet.material }}</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
