{% extends "base.html" %}
{% block content %}
    <h3>Product Search Results for {{ context.category }}</h3>
    <table class="table">
        <thead>
            <tr>
                {% for attr in context.attributes %}
                <th>{{ attr }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for product in context.products %}
            <tr>
							<td><a class="btn btn-outline-primary" href="/product/id/{{product[0]}}" role="button">{{ product[0] }}</a></td>
                {% for val in product[1:] %}
                <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}