<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Product Information</title>
</head>
<body>
    <h1>Product Information</h1>

    <table>
        <tr>
            <td>Product ID:</td>
            <td>{{ product.prod_id }}</td>
        </tr>
        <tr>
            <td>Product Name:</td>
            <td>{{ product.prod_name }}</td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td>{{ product.quantity }}</td>
        </tr>
        <tr>
            <td>Brand:</td>
            <td>{{ product.brand }}</td>
        </tr>
        <tr>
            <td>MRP:</td>
            <td>{{ product.mrp }}</td>
        </tr>
        <tr>
            <td>Discount:</td>
            <td>{{ product.discount }}%</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <td>Model:</td>
            <td>{{ product.model }}</td>
        </tr>
        <tr>
            <td>Image:</td>
            <td>{{ product.image }}</td>
        </tr>
    </table>

</body>
</html>
