/* Variables */
:root {
  --black: rgba(0, 0, 0, 1);
  --black-2: rgba(4, 4, 4, 0.671);
  --star-dust: rgba(155, 155, 155, 1);
  --tropical-blue: rgba(191, 213, 255, 1);
  --periwinkle: rgba(207, 217, 255, 1);
  --hawkes-blue: rgba(207, 218, 255, 1);
  --alabaster: rgba(250, 250, 250, 1);
  --cornflower-lilac: rgba(255, 170, 170, 1);
  --rose-white: rgba(255, 246, 246, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-s2: 29px;
  --font-size-m2: 30px;
  --font-size-l2: 32px;
  --font-size-xs2: 28px;
  --font-size-xl2: 35px;
  --font-size-xxs2: 27px;

  --font-family-inter: "Inter";
}

/* Classes */

.inter-semi-bold-black-28px2 {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs2);
  font-weight: 600;
  font-style: normal;
}
.inter-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}
.inter-semi-bold-rose-white-32px {
  color: var(--rose-white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 600;
  font-style: normal;
}
.inter-semi-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m2);
  font-weight: 600;
  font-style: normal;
}
.inter-semi-bold-black-28px-22 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs2);
  font-weight: 600;
  font-style: normal;
}
.inter-normal-star-dust-29px {
  color: var(--star-dust);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}

/* Path: Website\CartPage\css.css */
@import url("https://fonts.googleapis.com/css?family=Inter:400,600");
.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}
.cartpage {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 864px;
  overflow: hidden;
  width: 1536px;
}
.top-bar {
  align-items: flex-start;
  display: flex;
  margin-left: 7px;
  min-width: 1543px;
}
.overlap-group3 {
  align-items: center;
  background-color: #ffaaaa;
  display: flex;
  height: 118px;
  justify-content:flex-end ;
  min-width: 1537px;
  padding: 0 38px;
}
.about {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1px;
  margin-left: 33px;
  min-height: 31px;
  text-decoration: underline;
  width: 125px;
}
.overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 40px;
  margin-left: 396px;
  min-width: 191px;
  padding: 6px 12px;
}
.email {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  width: 120px;
}
.place {
  margin-top: 1px;
  width: 105px;
}
.cartpage .place-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  text-decoration: underline;
}
.place-1 {
  margin-bottom: 1px;
  margin-left: 33px;
  width: 191px;
}
.overlap-group {
  align-items: flex-start;
  background-color: var(--periwinkle);
  border-radius: 40px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: 20px;
  min-width: 135px;
  padding: 5px 17px;
}
.login {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 90px;
}
.overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 40px;
  margin-left: 26px;
  min-width: 191px;
  padding: 6px 14px;
}
.password {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  width: 154px;
}
.checkout-button {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 99px;
  margin-top: 288px;
  min-width: 188px;
}
.overlap-group2-1 {
  align-items: flex-start;
  background-color: var(--periwinkle);
  border-radius: 40px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 186px;
  padding: 6.2px 0;
}
.checkout {
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  width: 158px;
}
.bottom-bar {
  align-items: flex-start;
  display: flex;
  margin-left: 3px;
  margin-top: 64px;
  min-width: 1539px;
}
.overlap-group-2 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  height: 60px;
  min-width: 1537px;
  padding: 9px 13px;
}
.cartpage .overlap-group-3 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
}
.nerd-labs {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 31px;
  width: 187px;
}
.product-info {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 100px;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: 61px;
  min-width: 1211px;
  padding: 0 22px;
}
.overlap-group-1 {
  background-color: var(--periwinkle);
  border-radius: 40px;
  height: 40px;
  min-width: 135px;
  padding: 5px 17px;
}
.delete {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 90px;
}
.flex-row {
  align-items: center;
  display: flex;
  gap: 123px;
  margin-right: 85px;
  margin-top: 59px;
  min-width: 1285px;
}
.search-container {
  border-radius: 40px;
  height: 64px;
  position: relative;
  width: 934px;
}
.search {
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 120px;
}
.search-field {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 40px;
  display: flex;
  height: 64px;
  justify-content: flex-end ;
  left: 0;
  min-width: 934px;
  padding: 11.2px 28px;
  position: absolute;
  top: 0;
}
.vector {
  height: 37px;
  width: 36px;
}
.title {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l2);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1px;
  min-height: 39px;
  text-decoration: underline;
  width: 226px;
}
