{% extends "base.html" %}
{% block content %}
<div class = "container" style = "width: 80%; top: 50%; left: 50%; margin-top: 100px;">
<form class="row g-3">
  <div class="col-md-6">
    <label for="first_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name">
  </div>
  <div class="col-md-6">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name">
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="col-md-6">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="col-md-6">
    <label for="phone" class="form-label">Phone</label>
    <input type="text" class="form-control" id="phone">
  </div>
  <div class="col-md-6">
    <label for="addr_loc" class="form-label">Locality</label>
    <input type="text" class="form-control" id="addr_loc">
  </div>
  <div class="col-md-4">
    <label for="addr_city" class="form-label">City</label>
    <input type="text" class="form-control" id="addr_city">
  </div>
  <div class="col-md-2">
    <label for="addr_pin" class="form-label">PIN</label>
    <input type="text" class="form-control" id="addr_pin">
  </div>
  <div class="col-12">
    <div class="text-center">
        <button type="submit" class="btn btn-primary" style = "margin-top: 50px;">Sign in</button>
    </div>
  </div>
</form>
</div>
{% endblock %}
