{% extends "base.html" %}
{% block content %}
    <h3>Customer Information</h3>
    <table class="table">
      <thead>
        <tr>
          {% for attr in context.attributes %}
              <th>{{ attr }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
            {% for customer in context.customers %}
            <tr>
                {% for c in customer %}
                <td>{{ c }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tr>
      </tbody>
    </table>
{% endblock %}
