{% extends "base.html" %}
{% block content %}
<form method="post">
  <div class="container">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="container">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="container">
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}